body{
	font-family: 'Roboto Mono', monospace;
	background-color: #212121;
	color: #FFFFFF;
	text-align: center;
	cursor: url("images/cursor2.png") 2 2, pointer;	
}

h1{
	font-size: 46px;
	font-family: 'Major Mono Display', monospace;
	color: #FF3461;
	margin-top: 15px;
	margin-bottom: 10px;
	word-spacing: -15px;
}

h5{
	max-width: 326px;
	margin: 0 auto;
	margin-bottom: 10px;
	word-spacing: -3px;
	font-weight: 200px;
	line-height: 32px;
	text-align: left;
}

/*Styles clock*/
#clock{
	font-family: 'Major Mono Display', monospace;
	font-size: 54px; /*100px*/
	margin-top: -20px;
	margin-bottom: -3px;
}

/*Styles images*/
img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto; /* or 50% and change max heiht to only height*/
  	min-width: 326px;
  	max-width: 326px;
  	max-height: 400px;
  	border-radius: 2%;
}

/*Styles qoutes below the image*/
blockquote{
	max-width: 320px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 4px;
}

/*Multiple containers for the selection elements*/
.time-setter{
	width: 50%;
	margin: 0 auto;
}

/*Adds padding to align the selection elements*/
#selection1,
#selection2,
#selection3 {
	padding-right: 25px;
}

/*Creates a button*/
.btn-default{
	color: white;
	background-color: #EF476F;
	height: 30px;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 4px;
	padding: 3px 15px;
}

/*Hover effect of the button*/
.btn-default:hover{
	opacity: 0.8;
}

/*Footer styling*/
footer{
	font-size: 9px;
	color: #FF3461;
	margin-top: 20px;
	word-spacing: -1px;
}


/* If the screen size is 600px wide or less, then apply this settings */
@media only screen and (max-width: 600px) {
  
  h1{
  	margin-top: 10px;
  }

  h4{
  	display: none;
  }

  #clock{
  	font-size: 2em;
  	margin-bottom: 10px;
  }

  #selection1,
  #selection2,
  #selection3 {
  	padding-right: 10px;
  }

  .btn-default{
  	width: 322px;
  }
}

 